@import url("https://fonts.googleapis.com/css?family=Paytone+One:400|PT+Serif:700");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

button:focus-visible {
  outline: 2px solid #4a90e2;
}

a {
  text-decoration: none;
}