
.index {
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .overlap-wrapper {
  background-color: rgba(255, 255, 255, 1.0);
  background: linear-gradient(
    180deg,
    rgb(211, 250, 215) 0%,
    rgb(255, 255, 255) 100%
  );
  overflow-x: hidden;
  width: 479px;
  height: 1184px;
}

.index .overlap {
  position: relative;
  width: 592px;
  height: 1282px;
  left: -56px;
}

.index .wood {
  position: absolute;
  width: 479px;
  height: 560px;
  top: 372px;
  left: 56px;
  object-fit: cover;
}

.index .header {
  position: absolute;
  width: 495px;
  height: 404px;
  top: 0;
  left: 56px;
  background-color: transparent;
}

.index .overlap-group {
  position: relative;
  width: 491px;
  height: 404px;
}

.index .rectangle {
  position: absolute;
  width: 479px;
  height: 404px;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(27.96, 180.87, 38.16) 0%,
    rgb(244.37, 255, 250.22) 100%
  );
}

.index .text-wrapper {
  position: absolute;
  width: 465px;
  top: 28px;
  left: 26px;
  text-shadow: 0px 4px 4px #00000059;
  font-family: "Paytone One", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 90px;
  letter-spacing: -0.90px;
  line-height: 90px;
}

.index .div {
  position: absolute;
  width: 447px;
  top: 137px;
  left: 26px;
  background: linear-gradient(
    180deg,
    rgb(45.58, 140.24, 77.13) 0%,
    rgb(66.44, 178.49, 103.39) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Paytone One", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 40px;
  letter-spacing: -0.40px;
  line-height: 40px;
}

.index .gradent-seperator {
  position: absolute;
  width: 479px;
  height: 180px;
  top: 314px;
  left: 56px;
  background: linear-gradient(
    180deg,
    rgba(226.67, 255, 251.69, 0) 0%,
    rgb(233.58, 247.91, 214.85) 50%,
    rgba(227, 255, 252, 0) 100%
  );
}

.landing-page .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 369px;
  height: 116px;
  align-items: center;
  padding: 26px 38px;
  position: absolute;
  top: 259px;
  left: 111px;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
}

.landing-page .photo {
  position: relative;
  width: 69px;
  height: 63px;
}

.landing-page .text-wrapper-2 {
  position: relative;
  width: 235px;
  margin-right: -11.00px;
  font-family: "News Cycle", Helvetica;
  font-weight: 700;
  color: #5eac5b;
  font-size: 53px;
  text-align: center;
  letter-spacing: -0.53px;
  line-height: 53px;
}

.landing-page .group {
  position: absolute;
  width: 592px;
  height: 1218px;
  top: 64px;
  left: 0;
}

.landing-page .overlap-2 {
  position: relative;
  height: 1218px;
}

.landing-page .rectangle-2 {
  position: absolute;
  width: 502px;
  height: 516px;
  top: 702px;
  left: 46px;
  background-color: #d9d9d9;
}

.landing-page .bowel {
  position: absolute;
  width: 592px;
  height: 767px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landing-page .rectangle-3 {
  position: absolute;
  width: 509px;
  height: 132px;
  top: 624px;
  left: 42px;
  background-color: #d9d9d9;
  transform: rotate(-6.10deg);
}

.landing-page .machine {
  position: absolute;
  width: 213px;
  height: 275px;
  top: 611px;
  left: 75px;
}

.landing-page .man {
  position: absolute;
  width: 215px;
  height: 246px;
  top: 567px;
  left: 306px;
}

.landing-page .overlap-group-2 {
  position: relative;
  width: 213px;
  height: 246px;
  background-color: #ebfdff;
  border-radius: 17px;
  border: 4px solid;
  border-color: #dee8c6;
}

.landing-page .p {
  position: absolute;
  width: 180px;
  top: 62px;
  left: 13px;
  font-family: "Abhaya Libre SemiBold-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: -0.40px;
  line-height: 40px;
}

.landing-page .head {
  position: absolute;
  width: 51px;
  height: 44px;
  top: 8px;
  left: 13px;
  object-fit: cover;
}
