body, .landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #d3fad7 0%, #ffffff 100%);
}

.landing-page .overlap-wrapper {
  width: 90%;
  max-width: 600px;
  padding: 20px;
}

@media (max-width: 768px) {
  .landing-page .overlap-wrapper {
    padding: 10px;
  }
}